.header {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    .header__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.logo {
    font-family: "Pacifico", cursive;
    .logo-light {
        color: whitesmoke;
    }

    .logo-dark {
        color: green;
    }
}
